{% assign product_reference = block.settings.product %}
{% assign product_reviews = product_reference.metafields.hydrogen_reviews.product_reviews %}
{% assign inline_stars_id = "now" | date: "%N" | modulo: 100 | prepend: "widget_id_" %}

{{ 'inline_stars.css' | asset_url | stylesheet_tag }}

<script>
  window.inline_stars_widget = {
    product_id: {{ block.settings.product.id }},
    widget_id: "{{ inline_stars_id }}",
    product_reviews: {% if product_reviews != blank and product_reviews != '' %}{{ product_reviews }}{% else %}[]{% endif %}
  };
</script>

<div style="display:none;" class="hydrogen_reviews__markup">
  <div class="hydrogen_reviews__markup--star-fill">
    <span class="hydrogen_reviews__star">
      {% render 'icon-star-fill', fill: block.settings.colour, height: block.settings.size, width: block.settings.size  %}
    </span>
  </div>
</div>
<div class="hydrogen_reviews__container {{ inline_stars_id }}"></div>

<script src="{{ 'inline_stars.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Inline Star Rating",
  "target": "section",
  "settings": [
    { 
      "type": "product", 
      "id": "product", 
      "label": "product", 
      "autofill": true 
    },
    { 
      "type": "color", 
      "id": "colour", 
      "label": "Star Colour", 
      "default": "#ff0000" 
    },
    {
      "type": "range",
      "id": "size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Star Size",
      "default": 20
    }
  ]
}
{% endschema %}

