{% assign product_reference = block.settings.product %}
{% assign product_reviews = product_reference.metafields.hydrogen_reviews.product_reviews %}
{% assign form_id = "now" | date: "%N" | modulo: 100 | prepend: "widget_id_" %}

{{ 'review_form.css' | asset_url | stylesheet_tag }}

<script>
  window.review_form_widget = {
    product_id: {{ block.settings.product.id }},
    form_id: "{{ form_id }}"
  };
</script>

<form class="hydrogen_reviews__form {{ form_id }}">
  {% if block.settings.title != blank or block.settings.content != blank %}
    <div class="rich-text hydrogen_reviews__form-header" {{ block.shopify_attributes }}>
      {% if block.settings.title != blank %}
        <h2 class="rich-text__heading rte inline-richtext">
          {{ block.settings.title }}
        </h2>
      {% endif %}
      {% if block.settings.content != blank %}
        <div class="rich-text__text rte">
          {{ block.settings.content }}
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="field">
    <input
      class="field__input"
      autocomplete="name"
      type="text"
      id="name"
      name="name"
      placeholder="{{ 'review_form.name_placeholder' | t }}"
    >
    <label class="field__label" for="name">{{ 'review_form.name_label' | t }}</label>
  </div>
  <div class="field">
    <select name="rating" class="select__select" required>
      <option value="" disabled selected>{{ 'review_form.rating_placeholder' | t }}</option>
      <option value="1">1 Star</option>
      <option value="2">2 Stars</option>
      <option value="3">3 Stars</option>
      <option value="4">4 Stars</option>
      <option value="5">5 Stars</option>
    </select>
  </div>
  <div class="field">
    <textarea
      class="text-area field__input"
      id="message"
      name="message"
      placeholder="{{ 'review_form.message_placeholder' | t }}"
      rows="4"
    >
    </textarea>
    <label class="form__label field__label" for="message">
      {{ 'review_form.message_label' | t }}
    </label>
  </div>
  <div>
    <button type="submit" class="button">
      {{ "review_form.send" | t }}
    </button>
  </div>
</form>

<script src="{{ 'review_form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Review Form",
  "target": "section",
  "settings": [
    { 
      "type": "product", 
      "id": "product", 
      "label": "product", 
      "autofill": true 
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Leave a review"
    },
    {
      "type": "inline_richtext",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}