{% assign product_reference = block.settings.product %}
{% assign product_reviews = product_reference.metafields.hydrogen_reviews.product_reviews %}
{% assign form_id = "now" | date: "%N" | modulo: 100 %}

<script>
  window.review_form_widget = {
    product_id: {{ block.settings.product.id }},
    form_id: "{{ form_id }}",
    product_reviews: {% if product_reviews != blank and product_reviews != '' %}{{ product_reviews }}{% else %}[]{% endif %}
  };
</script>

<form class="hydrogen_reviews__form .{{ form_id }}">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required />
  </div>
  <div>
    <label for="rating">Rating</label>
    <select name="rating" required>
      <option value="1">1 Star</option>
      <option value="2">2 Stars</option>
      <option value="3">3 Stars</option>
      <option value="4">4 Stars</option>
      <option value="5">5 Stars</option>
    </select>
  </div>
  <div>
    <label for="message">Message</label>
    <textarea name="message" id="message" rows="4" required></textarea>
  </div>
  <div>
    <button type="submit">
      Submit
    </button>
  </div>
</form>

<script src="{{ 'review_form.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Review Form",
  "target": "section",
  "settings": [
    { 
      "type": "product", 
      "id": "product", 
      "label": "product", 
      "autofill": true 
    }
  ]
}
{% endschema %}